@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Nome Integrantes: </h1>
    <h3>Gabrielle - RM98786</h3>
    <h3>Maria Fernanda - RM98818</h3>
    <h3>Alberto - RM99706</h3>
    <h3>Nicolas - RM98819</h3>
</div>

