@page
@model CP2_.NET.Views.Login.IndexModel
@{
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #B0C4DE;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 400px;
        margin: 100px auto;
        padding: 20px;
        border-radius: 8px;
        background-color: #FFFAF0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .container h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #007bff;
        }

    .form-group {
        margin-bottom: 20px;
    }

    .form-label {
        font-weight: bold;
        color: #007bff;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .btn {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
    }

        .btn:hover {
            background-color: #0056b3;
        }
</style>
<body>

    <div class="container">
        <h2>Login</h2>
        <form asp-controller="UserLogin" asp-action="FLogin" method="post">
            <div class="form-group">
                <label for="UserEmail" class="form-label">Email address</label>
                <input name="UserEmail" type="email" class="form-control" id="UserEmail" placeholder="name@example.com" required>
            </div>

            <div class="form-group">
                <label for="UserPassword" class="form-label">Password</label>
                <input name="UserPassword" type="password" class="form-control" id="UserPassword" placeholder="Password" required>
            </div>

            <button type="submit" class="btn">Logar</button>
        </form>
    </div>

</body>
